# Web Scraping Case Study (Romance - Books to Scrape)
### Load Libraries

In [ ]:
!pip install beautifulsoup4
!pip install requests

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url = 'http://books.toscrape.com/catalogue/category/books/romance_8/index.html'
index_html = requests.get(url).text
soup = BeautifulSoup(index_html, 'html.parser')

### Extract Titles and Prices

In [ ]:
titles = []
prices = []
i = 0
for book in soup.find_all('li', 'col-xs-6 col-sm-4 col-md-3 col-lg-3'):
    title = book.h3.a['title']
    price = soup.find_all('p', attrs = {'class': 'price_color'})[i].getText().strip('Â')
    i += 1
    titles.append(title)
    prices.append(price)

In [ ]:
titles

['Chase Me (Paris Nights #2)',
 'Black Dust',
 'Her Backup Boyfriend (The Sorensen Family #1)',
 'First and First (Five Boroughs #3)',
 'Fifty Shades Darker (Fifty Shades #2)',
 'The Wedding Dress',
 'Suddenly in Love (Lake Haven #1)',
 'Something More Than This',
 'Doing It Over (Most Likely To #1)',
 "The Wedding Pact (The O'Malleys #2)",
 'Hold Your Breath (Search and Rescue #1)',
 'Dirty (Dive Bar #1)',
 'Take Me Home Tonight (Rock Star Romance #3)',
 'Off the Hook (Fishing for Trouble #1)',
 "A Gentleman's Position (Society of Gentlemen #3)",
 'Sit, Stay, Love',
 "A Girl's Guide to Moving On (New Beginnings #2)",
 'The Perfect Play (Play by Play #1)',
 'Dark Lover (Black Dagger Brotherhood #1)',
 'Changing the Game (Play by Play #2)']

In [ ]:
prices

['£25.27',
 '£34.53',
 '£33.97',
 '£15.97',
 '£21.96',
 '£24.12',
 '£55.99',
 '£16.24',
 '£35.61',
 '£32.61',
 '£28.82',
 '£40.83',
 '£53.98',
 '£47.67',
 '£14.75',
 '£20.90',
 '£31.30',
 '£59.99',
 '£12.87',
 '£13.38']

### Create Dataframe and Convert to CSV

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'ID': 1 + np.arange(len(titles)), 'Book Title': titles, 'Price': prices})
df

    ID                                        Book Title   Price
0    1                        Chase Me (Paris Nights #2)  £25.27
1    2                                        Black Dust  £34.53
2    3     Her Backup Boyfriend (The Sorensen Family #1)  £33.97
3    4                First and First (Five Boroughs #3)  £15.97
4    5             Fifty Shades Darker (Fifty Shades #2)  £21.96
5    6                                 The Wedding Dress  £24.12
6    7                  Suddenly in Love (Lake Haven #1)  £55.99
7    8                          Something More Than This  £16.24
8    9                 Doing It Over (Most Likely To #1)  £35.61
9   10               The Wedding Pact (The O'Malleys #2)  £32.61
10  11           Hold Your Breath (Search and Rescue #1)  £28.82
11  12                               Dirty (Dive Bar #1)  £40.83
12  13       Take Me Home Tonight (Rock Star Romance #3)  £53.98
13  14             Off the Hook (Fishing for Trouble #1)  £47.67
14  15  A Gentleman's Position (Society of Gentlemen #3)  £14.75
15  16                                   Sit, Stay, Love  £20.90
16  17   A Girl's Guide to Moving On (New Beginnings #2)  £31.30
17  18                The Perfect Play (Play by Play #1)  £59.99
18  19          Dark Lover (Black Dagger Brotherhood #1)  £12.87
19  20               Changing the Game (Play by Play #2)  £13.38

In [ ]:
df.to_csv('books.csv')